body {
    background-color: rgba(0, 0, 0, 0.725);

}

div {
    cursor: default;
    margin: 0px;
}

.card-header {
    font-weight: bold;
}

.card-body {
    font-weight: bold;
}

#canvas_cont {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    /* max-width: 600px;
    width: 600px; */
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 1);
    /* box-shadow: 0px 0px 10px white; */
    background-color: white;
    /* border-radius: 5px; */
    background: url('../images/betterbg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}


.form-control:focus {
    box-shadow: none;
}

#world_canvas {
    margin: 0;
    position: absolute;
    z-index: 1;
    border-radius: 5px;
}

#player_canvas {
    margin: 0;
    position: absolute;
    z-index: 2;
    /* border-radius: 5px; */
}

/*  */
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.custom-table {
    background-color: #126ab8;
    /* Your custom color */
    color: #fafafa;
    /* Text color */
}

.btn-custom-color {
    background-color: #ffffff;
    /* Your desired background color */
    border-color: #f7f7f7;
    /* Your desired border color */
    color: #070000;
    /* Text color */
}

.input-plyaer-info {
    background-color: #ffffff;

}

.score-text-color {
    color: #f7f7f7;
}